.cases {
    padding: 104px 0 112px;
    &__wrapper {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
    &__item {
        border: 1px solid #e8ebf2;
        box-shadow: 0 24px 48px 0 rgba(83, 106, 164, 0.06);
        background: #fff;
        padding: 48px 48px 46px 55px;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        
        &__content {
            display: flex;
            flex-direction: column;
            max-width: 472px;
            gap: 12px;
        }
        
        &__subtitle {
            font-weight: 700;
            font-size: 22px;
            line-height: 127%;
            color: var(--accent);
            margin: 0;
        }
        .btn_main {
            width: fit-content;
        }
    }
    &__img {
        
        
        img {
            max-width: 100%;
            display: block;
            object-fit: cover;
            animation-name: fadeIn;
            animation-fill-mode: both;
            animation-timing-function: linear;
            
            view-timeline-name: --fade-in-img;
            animation-timeline: --fade-in-img;
            animation-range: 10% 40%;
        }
    }
    &__text {
        margin-top: 20px;
        flex-grow: 1;
        .gray {
            margin-bottom: 8px;
        }
    }
    .btn_transparent {
        width: fit-content;
        
        margin: 48px auto 0;
    }
    &_pt163 {
        padding-top: 163px;
    }
}