footer {
    padding: 72px 0 0;
}
.footer {
    &__wrapper {
        display: grid;
        grid-template-columns:16% 34% 33% 1fr;
    }
    &__heading {
        margin: 0 0 7px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        
        color: #08142b;
    }
    &__link {
        margin-bottom: 15px;
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #353e4f;
        text-decoration: none;
        cursor: pointer;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        .footer__link {
            font-size: 14px;
            margin-bottom: 11px;
            line-height: 143%;
        }
    }
   &__item:has(.footer__list) {
    .footer__heading {
        margin-bottom: 15px;
    }
   }
    &__bottom {
        margin-top: 55px;
        border-top: 1px solid #e3e7ef;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 24px 0;
        &__text {
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: #bccad4;
            text-decoration: none;
           
        }
        a.footer__bottom__text {
            transition: opacity .3s;
            &:hover {
                opacity: .7;
            }
        }
    }
}