header {
    padding: 27px 0;
}
.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    }
    &__phone {
        display: flex;
        min-height: 100%;
        max-height: 100%;
        align-items: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 127%;
        text-align: center;
        color: #0e3881;
        text-decoration: none;
    }
}
.logo {
    img {
        max-width: 100%;
    };
}
nav {
    min-height: 100%;
    max-height: 100%;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 40px;
    padding: 0;
    margin: 0;
    height: 100%;
    &__item {
        position: relative;
        &:focus {
            .menu__link {
                &::after {
                    width: 100%;
                }
            }
        }
        &:focus-within {
            
                &::before {
                    content: '';
                    width: 0%;
                    height: 6px;
                    background-color: #0e3881;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: width .3s;
                    width: 100%;
                }
            
        }
        &:focus-within .submenu {
            max-height: 1000px;
           
        }
        &:hover .submenu {
            max-height: 1000px;
           
        }
        &-show-submenu {
            padding-right: 19px;
            &:after {
                content: '';
                display: block;
                width: 8px;
                height: 14px;
                background: url(../img/arrow-down.svg) no-repeat center/contain;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                // transition: all .3s;
            }
            &:hover {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
            
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #353e4f;
        text-decoration: none;
        transition: color .3s;
        &::after {
            content: '';
            width: 0%;
            height: 6px;
            background-color: #0e3881;
            position: absolute;
            top: 0;
            left: 0;
            transition: width .3s;
        }
        &:hover {
            color: #0e3881;
            &:after {
                width: 100%;
            }
        }
    }
}
.submenu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 306px);
    gap: 8px 74px;
    position: absolute;
    max-height: 0px;
    z-index: 5;
    left: 0;
    overflow: hidden;
    background-color: #fff;
    transition: max-height .3s;
    li {
        padding-inline: 32px;
        &:last-child {
            padding-bottom: 32px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #353e4f;
        text-decoration: none;
        position: relative;
        width: fit-content;
        transition: color .3s;
       
        &:hover {
            color: #0e3881;
           
        }
    }
}
.hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 25px;
    height: 15px;
    position: absolute;
    z-index: 2;
    top: 36px;
    right: 20px;
    cursor: pointer;
    transition: all .3s;
    span {
        width: 100%;
        height: 3px;
        background: var(--bold);
        display: block;
        transition: all .3s;
        border-radius: 3px;
    }
    &_active {
        top: 20px;
        z-index: 3;
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translateY(9px);
                background: var(--regular);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-9px);
                background: var(--regular);
            }
        }
    }
}